<h2>Vertical Stepper Component</h2>
<div class="container">
  <div class="accordion">
    <i class="pi pi-user-plus title-icon" [ngClass]="sectionvisible == 'section1' ? 'icon-active' : ''"></i>
    <h3 class="title-text">Personal Information</h3>
  </div>
  <div class="panel" *ngIf="sectionvisible == 'section1'" [@fadeInOut]>
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname"><br><br>
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname"><br><br>
      <button pButton pRipple type="button" label="Previous" class="p-button-secondary"></button>
      <button pButton pRipple type="button" label="Next" class="p-button-info" (click)="openCloseTest('section2')"></button>
  </div>

  <div class="accordion">
    <i class="pi pi-home title-icon" [ngClass]="sectionvisible == 'section2' ? 'icon-active' : ''"></i>
    <h3 class="title-text">Address</h3>
  </div>
  <div class="panel" *ngIf="sectionvisible == 'section2'" [@fadeInOut]>
      <label for="fname">Address:</label>
      <input type="text" id="fname" name="fname"><br><br>
      <label for="lname">Email:</label>
      <input type="text" id="lname" name="lname"><br><br>
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone"><br><br>
      <button pButton pRipple type="button" label="Previous" class="p-button-secondary" (click)="openCloseTest('section1')"></button>
      <button pButton pRipple type="button" label="Next" class="p-button-info" (click)="openCloseTest('section3')"></button>
  </div>

  <div class="accordion">
    <i class="pi pi-key title-icon" [ngClass]="sectionvisible == 'section3' ? 'icon-active' : ''"></i>
    <h3 class="title-text">Last Details</h3>
  </div>
  <div class="panel" *ngIf="sectionvisible == 'section3'" [@fadeInOut]>
      <h3>Congratulations, You Finish!</h3>
      <button pButton pRipple type="button" label="Previous" class="p-button-secondary" (click)="openCloseTest('section2')"></button>
  </div>
</div>